<%= stylesheet_link_tag "application" %>
<h2>John Ang</h2>
<%= image_tag("me.jpg", width: "550") %><br />
<div class="location">
	<p class="from">Diamond Bar, California</p>
</div>
<div>
	Sophomore
</div>
<div>
	<p class="fact">Fun Fact: I was a competitive swimmer for 9 years</p>
</div>
<div>
	<p class="excited"?>Most Excited: I am looking forward to learning more about rails and making cool sites. </p>
</div>
